img{
    height: 200px;
}
html{
    background-image: linear-gradient(to left,white,rgb(25, 126, 241));
}
h1{
    color: rgb(0, 0, 0);
    
}

nav{
    box-shadow: inset;
    background-color: rgb(89, 144, 231);
    border-left: 10cm;

}

header{
    box-shadow: inset;
    background-color: rgb(175, 134, 214);
    
}

button{
    background-color: rgb(230, 117, 117);
    color: black;
    font-size:10;
    
    
}
