header{
    background: linear-gradient(to left,rgb(59, 59, 236),rgb(141, 218, 141))
}
p{
    color: black
}
h1{
    color: black
}
h2{
    color:black
}
ul{
    color: black
}
li{
    color: black
}
ul{
    text-align: center;
}
