header{
    background: linear-gradient(to left,rgb(87, 87, 230),rgb(141, 240, 235))
}
p{
    color: black
}
h1{
    color: black
}
h2{
    color:black
}
ul{
    color: black
}
li{
    color: black
}
ul{
    background-image:linear-gradient(rgb(63, 63, 209));
}
