img {
    height: 20%;
}
div {
    margin: 2em;
}

div{
    text-aling: center;
}

body {
    background-color: White;
    font-family: 'roboto' ,sans-serif;
    text-aling: center;
    aling-itens: center;
}

ul li {
    margin: 1em;
}

footer p {
    padding: 3em;
}
