img {
    width: 70%;
}
div {
    margin: 2em;
}

body {
    background-color: White;
    font-family: 'roboto' ,sans-serif;
    text-align: center;
    aling-itens: center;
}

ul li {
    margin: 1em;
}

footer p {
    border-style: solid;
    border-color: black;
    border-widht: 1em 0em 0em 0em;
    padding: 5em;
    text-aling: center;
}
