img{
    height: 80%;
}
div {
    margin: 2em
}

body{
    background-color: White;
    font-family: 'roboto' ,sans-serif;
    text-aling: center;

}

ul li{
    margin: 1em
}

footer p{
    padding: 3em
}
